body {
  font-family: 'Poppins', Arial, sans-serif;
  background-color: #f5f7fa;
  margin: 0;
  padding: 0;
}

.hero {
  height: 100vh;
  background: url('coding-background.png') no-repeat center/cover;
  color: #ffffff;
  position: relative;
  text-align: center;
  overflow: hidden;
  padding: 50px;
}

.hero h1 {
  font-size: 4.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  top:0;
  position: relative;
  z-index: 2;
}

.hero-video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.hero p {
  font-size: 1.7rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
  z-index: 2;
  position: relative;
}

.hero img {
  border-radius: 50%;
  width: 170px;
  height: 170px;
  border: 4px solid #ffdd57;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  object-fit: cover;
  position: relative;
  z-index: 2;
}


.about {
  padding: 2.5rem;
  max-width: 800px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 2rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.about h2 {
  font-size: 2.2rem;
  margin-bottom: 1.2rem;
  color: #4a69bd;
}

.about p {
  color: #333;
  line-height: 1.6;
}


nav {
  background-color: #4a69bd;
  padding: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 1rem;
  font-size: 1.1rem;
  font-weight: 600;
}

footer {
  background-color: #4a69bd;
  color: #ffffff;
  text-align: center;
  padding: 1.2rem;
  font-size: 1rem;
} 

.nav-left{
  display: flex;
}

.nav-right{
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.project-card{
  display: block;
  border: 2px solid #4668c6;
  padding: 20px;
  width: 250px;
  border-radius: 8px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  background-color: #d8d8d8;
}

.project-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;  
  border-radius: 8px;
}

.project-card h3{
  font-size: 20px;
  color: #030642;
}

.project-card p{
  color: #070d85;
}

.gallery{
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

tr:hover{
  background-color: #e0e0e0;
}

.hero img:hover{
  transform: scale(1.1);
}

.hero img{
  transition: transform 0.3s ease;
}

.project-card:hover{
  transform: scale(1.1);
}

.project-card{
  transition: transform 0.3s ease;
}

th, td{
  padding: 16px;
  text-align: left;
  border-bottom: 1px solid #e9ecef;
}

th{
  background-color: #4a69bd;
  color: #ffffff;
}

td{
  color: #000000 
}